h1 {
    font-size: 50px;
    text-align: center;
    color: #234d20;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #36802d;
}

h3 {
    font-size: 28px;
    color:#77ab59;
}

h4 {
    font-size: 28px;
    color: #77ab59;
}

#paragrafo1 {
    margin: 10px 10px;
    text-align: center;
    font-style: italic;
    color: #234d20;
}

#paragrafo2 {
    margin: 10px 10px;
    text-align: center;
    font-style: italic;
    color: #234d20;
}

#paragrafo3 {
    margin: 10px 10px;
    font-style: italic;
    color: #234d20;
}

#paragrafo4 {
    margin: 10px 10px;
    font-style: italic;
    color: #234d20;
}

#paragrafo5 {
    margin: 10px 10px;
    font-style: italic;
    color: #234d20;
}

#paragrafo6 {
    margin: 10px 10px;
    font-style: italic;
    color: #234d20;
}
